NEPH_RELEASE_API_BASE_URL=https://api.neph.app/api
GOOGLE_SERVER_CLIENT_ID=YOUR_GOOGLE_SERVER_CLIENT_ID

ANDROID_KEYSTORE_PATH=release.keystore
ANDROID_KEYSTORE_PASSWORD=YOUR_KEYSTORE_PASSWORD
ANDROID_KEY_ALIAS=YOUR_KEY_ALIAS
ANDROID_KEY_PASSWORD=YOUR_KEY_PASSWORD
